body {
  display: flex;
}

.headerrow {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid black;
}

.headerrow div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  flex-grow: 0;
}

.companyname {
  flex: 1 0 200px;
  padding-left: 10px;
}

.nav {
  display: flex;
  flex-grow: 1;
}

div .nav {
  display: flex;
  justify-content: space-around;

}

ul {
  display: flex;
  flex-direction: row;

}

li {
  display: flex;
  list-style: none;
  padding: 15px;
}
